H1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px; 
}
H2 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
EM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FONT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SUB {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SUP {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
LABEL {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TBODY {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TFOOT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
THEAD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TR {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TH {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TD {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; FONT-STYLE: inherit; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: inherit; FONT-SIZE: 100%; BORDER-TOP: 0px; FONT-WEIGHT: inherit; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
#header {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#hdr_logo {
	MARGIN: 0px
}
#logo {
	TEXT-ALIGN: left
}
#logo A {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 2px; BOTTOM: 10px; PADDING-RIGHT: 0px; DISPLAY: block; TOP: 10px; PADDING-TOP: 10px
}
.src_bx {
	BACKGROUND-IMAGE: url(images/src_bx_bg.gif); WIDTH: 80px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: center center; FLOAT: right; HEIGHT: 18px; VERTICAL-ALIGN: middle; MARGIN-RIGHT: 6px
}
.src_bx FORM {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 1px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.src_bx FORM IMG {
	PADDING-LEFT: 4px; FLOAT: left; PADDING-TOP: 2px
}
.src_bx_input {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; LINE-HEIGHT: 12px; BACKGROUND-COLOR: transparent; MARGIN: 0px 10px 0px 14px; WIDTH: 26px; COLOR: #000; FONT-SIZE: 11px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 1px
}

#content {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.cnt_bg {
	BACKGROUND-COLOR: #ffffff
}
.adv {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND-POSITION: -1000% 50%; COLOR: #2323B3; PADDING-TOP: 0px
}


.nws_photo {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; MARGIN: auto 0px; PADDING-LEFT: 5px; WIDTH: 60px; PADDING-RIGHT: 0px; DISPLAY: block; FLOAT: left; PADDING-TOP: 5px; text-shadow: 1px 1px 1px #fff
}
.nws_photo .nws_pic {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 36px; MARGIN: auto 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; FLOAT: left; COLOR: #2323B3; PADDING-TOP: 0px
}


DIV.nws_lst_mdl {
	PADDING-BOTTOM: 12px; PADDING-TOP: 12px
}
DIV.nws_lst_mdl H2 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #2323B3; FONT-SIZE: 12px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
DIV.nws_lst_mdl H1 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #2323B3; FONT-SIZE: 14px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
DIV.nws_lst_mdl FONT.nml_nws_txt {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 12px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #2323B3; FONT-SIZE: 11px; PADDING-TOP: 0px
}

.nav_article H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
.nav_article H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #44a5e8; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
.nav_article A SPAN {
	BACKGROUND-IMAGE: url(images/lst_arw.png); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 10px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; FLOAT: left; HEIGHT: 35px; PADDING-TOP: 0px
}
.nav_urllist {
	BORDER-BOTTOM: #33FFFF 1px solid; COLOR: #2323B3;
}
.nav_urllist H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px;
}
.nav_urllist A SPAN {
	BACKGROUND-IMAGE: url(images/lst_arw.png); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 10px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: left center; HEIGHT: 35px; PADDING-TOP: 0px
}
#pg_lst_bg {
	BACKGROUND-IMAGE: url(images/pg_lst_bg.gif); BACKGROUND-COLOR: #33FFFF; WIDTH: 100%; BACKGROUND-REPEAT: repeat-x
}
.pn_nml {
	BORDER-BOTTOM: #c05b01 1px solid; BORDER-LEFT: #c05b01 1px solid; WIDTH: 20px; HEIGHT: 20px; BORDER-TOP: #c05b01 1px solid; BORDER-RIGHT: #c05b01 1px solid;
}
.pn_nml A {
	LINE-HEIGHT: 20px; DISPLAY: block; COLOR: #000000
}
.pn_nml:hover A {
	BACKGROUND: #b76214; COLOR: #ffffff
}
.pn_nml:focus A {
	BACKGROUND: #b76214; COLOR: #ffffff
}
.pn_select {
	BORDER-BOTTOM: #c05b01 1px solid; BORDER-LEFT: #c05b01 1px solid; WIDTH: 20px; BACKGROUND: #b76214; HEIGHT: 20px; BORDER-TOP: #c05b01 1px solid; BORDER-RIGHT: #c05b01 1px solid
}
.pn_select A {
	LINE-HEIGHT: 20px; DISPLAY: block; COLOR: #ffffff
}
.pn_select:hover A {
	BACKGROUND: #ffffff; COLOR: #c05b01
}
#pg_nm_bx {
	MARGIN: 0px
}
#pg_nm_bx FONT.srch_txt_nml {
	TEXT-TRANSFORM: uppercase; FONT-FAMILY: Impact, Tahoma, sans-serif, serif; LETTER-SPACING: 2px; COLOR: #0d1e3c; FONT-SIZE: 18px; FONT-WEIGHT: normal
}
#pg_nm_bx FONT.srch_txt_nml B {
	FONT-SIZE: 20px; FONT-WEIGHT: normal
}
#pg_quot_bg {
	BACKGROUND-COLOR: #ffffff; WIDTH: 100%
}
.quot_nml {
	BORDER-BOTTOM: #44a5e8 1px solid; BORDER-LEFT: #44a5e8 1px solid; WIDTH: 20px; HEIGHT: 20px; BORDER-TOP: #44a5e8 1px solid; BORDER-RIGHT: #44a5e8 1px solid
}
.quot_nml A {
	LINE-HEIGHT: 20px; DISPLAY: block; COLOR: #000000
}
.quot_nml:hover A {
	BACKGROUND: #2323B3; COLOR: #ffffff
}
.quot_nml:focus A {
	BACKGROUND: #2323B3; COLOR: #ffffff
}
.quot_select {
	BORDER-BOTTOM: #44a5e8 1px solid; BORDER-LEFT: #44a5e8 1px solid; WIDTH: 20px; BACKGROUND: #44a5e8; HEIGHT: 20px; BORDER-TOP: #44a5e8 1px solid; BORDER-RIGHT: #44a5e8 1px solid
}
.quot_select A {
	LINE-HEIGHT: 20px; DISPLAY: block; COLOR: #ffffff
}
.quot_select:hover A {
	BACKGROUND: #33FFFF; COLOR: #44a5e8
}
.statistiche {
	BORDER-BOTTOM: #69adf2 1px solid; BORDER-LEFT: #69adf2 1px solid; COLOR: #000000; BORDER-TOP: #69adf2 1px solid; BORDER-RIGHT: #69adf2 1px solid
}
.statistiche TR {
	HEIGHT: 18px
}
.statistiche TR:hover {
	BACKGROUND-COLOR: #2323b3
}
.statistiche TR.azzurro {
	BACKGROUND-COLOR: #d4e7fb
}
.statistiche TR.azzurro:hover {
	BACKGROUND-COLOR: #2323b3
}
.statistiche TD {
	TEXT-ALIGN: center
}
.statistiche TD.sinistra {
	TEXT-ALIGN: left; PADDING-LEFT: 2px
}
.statistiche A {
	COLOR: #000000; TEXT-DECORATION: underline
}
.statistiche A:hover {
	COLOR: #f41400; TEXT-DECORATION: underline
}
UL {
	LIST-STYLE-TYPE: disc; MARGIN-TOP: 5px; MARGIN-BOTTOM: 15px; COLOR: #ffffff; MARGIN-LEFT: 15px; FONT-SIZE: 16px
}
LI {
	MARGIN-TOP: 10px; COLOR: #ffffff
}
LI A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A {
	TEXT-DECORATION: none
}
INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
H1 {
	MARGIN: 0px; FONT-SIZE: 20px; FONT-WEIGHT: normal;
}
H2 {
	LINE-HEIGHT: 22px; MARGIN-BOTTOM: 8px; COLOR: #ffffff; FONT-SIZE: 18px
}
H3 {
	LINE-HEIGHT: 20px; MARGIN-BOTTOM: 8px; COLOR: #ffffff; FONT-SIZE: 17px; FONT-WEIGHT: bold
}
H4 {
	LINE-HEIGHT: 18px; MARGIN-BOTTOM: 8px; COLOR: #d0d0d0; FONT-SIZE: 16px; FONT-WEIGHT: bold
}
#footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.ftr_txt {
	PADDING-BOTTOM: 16px; LINE-HEIGHT: 12px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #fff; FONT-SIZE: 10px; PADDING-TOP: 16px
}
.ftr_txt A {
	COLOR: #fff000; TEXT-DECORATION: underline
}
.ftr_txt A:hover {
	TEXT-DECORATION: none
}
.arancio {
	COLOR: #f46526; FONT-WEIGHT: bold
}
